@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #a01e66;
  --secondary: #da1c5c;
  --darkText: #0a0a0a;
  --nav-white: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-darkText: var(--darkText);
  --color-nav-white: var(--nav-white);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-down {
  animation: fade-down 0.6s ease-out forwards;
}

.hero-background {
  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(0, 0, 0, 0.5) 25%,
      rgba(0, 0, 0, 0.5) 75%,
      rgba(0, 0, 0, 0.85) 100%
    ),
    url("/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.activity-card {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.8) 33.01%,
    rgba(255, 255, 255, 0.8) 63.37%,
    #ffffff 100%
  );
  box-shadow: 0px 4px 4px 0px #00000040;
}
